*{
	box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
	font-family: "Rubik", serif;
  color: #003D33;
  background-color: #FFC4AD;
}

.list:hover{
    font-size: 0;
}

.list:hover::after{
    content: attr(data-hover);
    font-size: 20px;
    text-decoration: underline;
}

.custom-list1 {
  list-style-image: url('img/star1.jpg');
}

.custom-list2 {
  list-style-image: url('img/star2.jpg');
}

.custom-list3{
  list-style-image: url('img/check.jpg');
}

/*<div class="relative inline-block">
<div>
  <button type="button" class="button1 inline-flex w-full gap-x-1.5 rounded-md  text-xl button1 py-2.5 px-3.5 font-medium " id="menu-button" aria-expanded="true" aria-haspopup="true">
    <p>Menu</p>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mt-1">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </button>
</div>

<div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
  <div class="py-1" role="none">
    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-0">Account settings</a>
    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
    <form method="POST" action="#" role="none">
      <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-3">Sign out</button>
    </form>
  </div>
</div>
</div>*/